.our-clients .marquee {
  display: flex;
  user-select: none;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to right,
    #0000,
    #000 10%,
    #000 90%,
    #0000
  );
  mask-image: linear-gradient(to right, #0000, #000 10%, #000 90%, #0000);
}

.our-clients .marquee .marquee-group {
  display: flex;
  animation: scrollX 20s linear infinite;
}

.our-clients .marquee:nth-child(3) .marquee-group {
  animation-direction: reverse;
  animation-delay: -3s;
}

.our-clients .marquee .image-group {
  width: clamp(8rem, 20vw, 17rem);
  padding: calc(clamp(8rem, 20vw, 17rem) / 20);
}

.our-clients .marquee img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  padding: 5px 20px;
  box-shadow: rgba(175, 170, 170, 0.2) 0px 2px 8px 0px;
}

@keyframes scrollX {
  from {
    left: 0;
  }
  to {
    transform: translateX(-100%);
  }
}

@media only media and (min-width: 640px) {
  .our-clients .marquee .image-group {
    width: clamp(10rem, 40vw, 17rem);
    padding: calc(clamp(10rem, 40vw, 17rem) / 20);
  }
}
