.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.masonry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out; /* Smooth image scaling */
}

.masonry .wide {
  grid-column: span 2;
}

.masonry .tall {
  grid-row: span 2;
}

.masonry .big {
  grid-row: span 2;
  grid-column: span 2;
}

.masonry > div {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.masonry > div::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), #0000 20%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Smooth transition for the overlay */
}

.masonry > div > p {
  position: absolute;
  left: 0;
  bottom: -100%; /* Start from below the container */
  z-index: 2;
  padding: 0.5em 0.8em;
  font-weight: 600;
  color: white;
  transition: bottom 0.5s ease-in-out; /* Smooth transition for text appearance */
}

.masonry > div:hover img {
  transform: scale(1.05); /* Slightly scale the image on hover */
}

.masonry > div:hover::after {
  opacity: 1; /* Show the overlay on hover */
}

.masonry > div:hover > p {
  bottom: 0; /* Move the text to the bottom of the container */
}

.fade-out {
  opacity: 0;
  transform: scale(0.95);
}

.fade-in {
  opacity: 1;
  transform: scale(1);
}

/* Mobile responsive adjustments */
@media (max-width: 767px) {
  .masonry {
    grid-template-columns: 1fr; /* Single column layout */
    grid-auto-rows: auto; /* Adjust row height automatically */
  }

  .masonry .wide,
  .masonry .tall,
  .masonry .big {
    grid-column: span 1; /* Ensure each image takes full width */
    grid-row: auto; /* Let each image take its natural height */
  }
}