.promotional-marquee .marquee {
  display: flex;
  user-select: none;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to right,
    #0000,
    #000 10%,
    #000 90%,
    #0000
  );
  mask-image: linear-gradient(to right, #0000, #000 10%, #000 90%, #0000);
}

.promotional-marquee .marquee .marquee-group {
  display: flex;
  animation: scrollX 20s linear infinite;
}

.promotional-marquee .marquee {
  font-size: clamp(32px, 11vw, 128px);
}
